<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Government of Gujarat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/mines.jpg' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/analytics.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/loader.css' %}"/>
    <!-- TODO: This is causing error in side nav bar: Not showing scroll option -->
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/css/perfect-scrollbar.css">#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js' type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.10/js/perfect-scrollbar.jquery.js"></script>
</head>
<body>
<div class="navbar-fixed">
    <nav class="navbar-color black">
        <div class="nav-wrapper">
            <span class="left brand-logo hide-on-small-only adm">Admin Panel</span>
            <a href="#" data-activates="slide-out" class="left brand-logo button-collapse sidebar hide-on-large-only ">
                <i class="material-icons">menu</i></a>
            <ul class="right custom">
                <li>
                    <div class="center row hide-on-med-and-down bar-align">
                        <div class="col s12 ">
                            <div class="row" id="searchbar">
                                <div class="input-field col s6 s8 white-text">
                                    <i class="white-text material-icons prefix">search</i>
                                    <input type="text" placeholder="search" id="autocomplete-input"
                                           class="autocomplete black-text hide-on-small-only">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="#"><i class="material-icons">notifications</i></a></li>
                <li>
                    <a href="#" class="dropdown-button btn-floating" data-activates="profile_drop" data-hover='true'>
                        <img src="{% static 'img/gravatar.jpg' %}" alt="gravatar" class="circle profile-image"/>
                        Admin
                    </a>
                    <!-- Dropdown Structure -->
                    <ul id='profile_drop' class='dropdown-content'>
                        <li><a href="#!"><i class="material-icons">account_circle</i>Profile</a></li>
                        <li><a href="#!"><i class="material-icons">settings</i>Settings</a></li>
                        <!-- <li class="divider"></li> -->
                        <!-- <li><a href="#!">three</a></li> -->
                        <li><a href="#!"><i class="material-icons">view_module</i>Attendance</a></li>
                        <li><a href="#!"><i class="material-icons">exit_to_app</i>Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div id="main">
    <div class="wrapper">
        <aside>
            <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container"
                style="overflow-x: hidden !important;">
                <li>
                    <div class="user-view">
                        <!-- <div class="background">
                           <img src="gravatar.jpg">
                           </div> -->
                        <a href="#!user"><img class="circle" src="{% static 'img/gravatar.jpg' %}"></a>
                        <a href="#!name"><span class="gray-text name">Admin</span></a>
                        <!-- <a href="#!email"><span class="gray-text email">admin@gmail.com</span></a> -->
                    </div>
                </li>
                <li><a class="waves-effect" href="{% url 'dashboard' %}"><i class="material-icons">home</i>Home</a></li>
                <li><a class="waves-effect" href="{% url 'profile' %}"><i class="material-icons">account_circle</i>Profile</a></li>
                <li><a class="waves-effect" href="{% url 'settings' %}"><i class="material-icons">settings</i>Settings</a></li>
            </ul>

        </aside>
        <div class="row">

            <!-- CARD 1 WORKING -->
            <div class="col s12 m6 l3">
                <div class="card cyan white-text">
                    <div class="card-content card-body">
                        <p class="card-title"><i class="material-icons icon-position">local_post_office</i> New
                            Complaints</p>
                        <p class="card-stats" id="new-complaint-stats"></p>
                        <p class="card-compare" id="new-complaint-compare"></p>
                    </div>
                    <div class="card-action cyan darken-1">
                        Final
                    </div>
                </div>
            </div>

            <!-- CARD 2 -->
            <div class="col s12 m6 l3">
                <div class="card deep-orange lighten-1 white-text">
                    <div class="card-content card-body">
                        <p class="card-title"><i class="material-icons icon-position">layers</i> Total Complaints</p>
                        <p class="card-stats" id="total-complaint-stats"></p>
                        <p class="card-compare" id="total-complaint-compare"></p>
                    </div>
                    <div class="card-action deep-orange darken-1">
                        Final
                    </div>
                </div>
            </div>

            <!-- CARD 3 -->
            <div class="col s12 m6 l3">
                <div class="card teal lighten-1 white-text">
                    <div class="card-content card-body">
                        <p class="card-title"><i class="material-icons icon-position">layers</i> Random Complaints</p>
                        <p class="card-stats" id="random-complaint-stats">500</p>
                        <p class="card-compare" id="random-complaint-compare"></p>
                    </div>
                    <div class="card-action teal">
                        Need work
                    </div>
                </div>
            </div>

            <!-- CARD 4 -->
            <div class="col s12 m6 l3">
                <div class="card red lighten-1 white-text">
                    <div class="card-content card-body">
                        <p class="card-title"><i class="material-icons icon-position">whatshot</i> Trending Tags</p>
                        <p class="card-stats" id="trendingtag-complaint-stats"></p>
                        <p class="card-compare" id="trendingtag-complaint-compare"></p>
                    </div>
                    <div class="card-action red">
                        Final
                    </div>
                </div>
            </div>
        </div>


        <!-- MAIN GRAPH -->
        <!-- TODO: If possible change height of this card and reduce it -->
        <div class="row">
            <div class="col s8 m8 l8">
                <div class="card ">
                    <div class="card-image cyan darken-1 graph-space">
                        <span class="graph-title white-text">Complaints</span>
                        <div class="graph">
                            <canvas id="Line_chart" class="Chart"></canvas>
                        </div>
                        <a class="btn-floating halfway-fab waves-effect waves-light gray activator">
                            <i class="Large material-icons">
                                details
                            </i>
                        </a>
                    </div>
                    <div class="card-content black-text">
                            <span class="card-title">
                           <h4>Line Chart</h4>
                        </span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title gray-text"><i class="material-icons right">close</i></span>
                        <ul>
                            <li>Monday</li>
                            <li>Tuesday</li>
                            <li>Wednesday</li>
                            <li>Thursday</li>
                            <li>Friday</li>
                            <li>Saturday</li>
                            <li>Sunday</li>
                        </ul>

                    </div>
                </div>
            </div>

            <!-- Sub MAIN GRAPH -->
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-content teal accent-4">
                        <span class="graph-title white-text">Top 5 Tags</span>
                        <div class="graph">
                            <canvas id="radarChart" class="Chart"></canvas>
                        </div>
                    </div>
                    <div class="card-action teal">
                        <span class="graph-title white-text">Complaints by Gender</span>
                        <div class="graph">
                            <canvas id="linearChart" class="Chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="card" id="clone">
                    <div class="card-image">
                        <canvas id="myChart"></canvas>
                        <a class="btn-floating halfway-fab waves-effect waves-light gray activator">
                            <i class="Large material-icons">
                                clear_all
                            </i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">
                           <h4>Bar Graph</h4>
                        </span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title gray-text"><i class="material-icons right">close</i></span>
                        <ul>
                            <li>Name it</li>
                            <li>Hit it</li>
                            <li>Close it</li>
                            <li>kick it</li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col s12 m6 l6" id="clone_2">
                <div class="card" id="clone">
                    <div class="card-image">
                        <canvas id="Chart" class="Chart"></canvas>
                        <a class="btn-floating halfway-fab waves-effect waves-light gray activator">
                            <i class="Large material-icons">
                                clear_all
                            </i>
                        </a>
                    </div>
                    <div class="card-content cyan-text">
                        <span class="card-title">
                           <h4>Pie Chart</h4>
                        </span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title gray-text"><i class="material-icons right">close</i></span>
                        <ul>
                            <li>Monday</li>
                            <li>Tuesday</li>
                            <li>Wednesday</li>
                            <li>Thursday</li>
                            <li>Friday</li>
                            <li>Saturday</li>
                            <li>Sunday</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
<script>
    $('.button-collapse').sideNav();
    $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: false, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 300, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'right', // Displays dropdown with edge aligned to the left of button
            stopPropagation: false // Stops event propagation
        }
    );
</script>
</body>
<script src="{% static 'js/dashboard_chart.js' %}" type="text/javascript"></script>
{#<script src="{% static 'js/loader.js' %}"></script>#}
<script src="{% static 'js/analytics.js' %}"></script>
<script>
    $(document).ready(function () {
        $('input.autocomplete').autocomplete({
            data: {
                "Apple": null,
                "Microsoft": null,
                "Google": null,
                "Gargle": null
            }
        });
    });
</script>
</html>