.navbar-color {
    /*background:linear-gradient(to right, black, gray);*/
}

.profile-image {
    position: relative;
    height: auto;
    width: 40px;
    /* margin-top:20px; */
    /* border-radius: 1000px; */
}

.sidebar {
    display: block !important;
    margin-left: 0 !important;
}

#main {
    padding-left: 250px;
}

@media only screen and (max-width: 993px) {
    #main {
        padding-left: 0;
    }
}

.side-nav {
    position: fixed !important;
    height: 100% !important;
    width:250px !important;
    margin-top: 70px !important;
}

ul .dropdown-content {
    top: 50px !important;
    width: 160px !important;
    overflow: hidden;

}

.dropdown-content li a {
    color: dodgerblue !important;
}

#slide-out {
    /*position: relative;*/
    height: 100% !important;
}

.bar-align {
    height: 60px;
    padding-top: 2px;
}

#searchbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    border-radius: 10px !important;
    width: 300px !important;
    height: 60px;
}

#searchbar .input-field .prefix {
    width: 0rem !important;

}

#searchbar nav ul li:hover, nav ul li.active {
    background-color: none !important;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content {
    margin-left: 1rem !important;
    /*width:200px !important;*/
}

.center-s {
    width: 170px !important;

}

.input-field-s {
    margin-left: auto !important;
    margin-right: auto !important;
}

#autocomplete-input-s {
    width: 100% !important;
    margin-left: 0 !important;
}

#searchbar_s {
    margin-left: 20px !important;
}

#mychart {
    height: 110px !important;
    width: 300px !important;
}

.card-reveal > ul {
    padding-top: 10px;
}

.card-reveal > ul > li {
    text-align: center;
}

@media only screen and (max-width: 450px) {
    #main {
        padding-left: 0 !important;
    }
}

.graph {
    padding: 10px;
    font-size: 1.9em !important;
}

.side-nav {
    overflow-y: hidden;
}

#drop_2 {
    margin-top: 180px;
    margin-left: 120px;
    width: 100%;
    position: fixed;
}

.graph-title {
    font-size: 1.6rem;
    font-weight: 300;
}

.graph-space {
    padding: 20px;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1rem;
}

.card-stats {
    font-size: 1.7rem;
    font-weight: 600;
}

.card-compare {
    font-size: 1.2rem;
}

.icon-position {
    position: relative;
    top: 4px;
}