body {
	background-image: url("/static/img/big.jpg");
	perspective: 3000;
	height: 100%;
}
html{
	height:100%;
}
.container h3
{
    padding-left:30%;
}

input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
/*input[type="date"]:not(.browser-default),*/
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea,
.chips input
{
    border: 0.5px solid #0CCFF;
    border-radius: 20px;
    padding-left:20px;
    color: white;
}
label
{
    padding-left:20px;
}
.chips .input
{
    color:white !important;
}