body
{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-image: url("/static/img/bg.jpg");
}
.container
{
   height:100%;
   width:100%;
}
.teen
{
    height:640px;
    width:640px;
}
.card-content
{
    text-align:center;
}
.card-content>a
{
    width:100% !important;
}