{#{% extends 'layout.html' %}#}
{##}
{#{% block content %}#}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="{% static 'js/complaints.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/complaint_form.css' %}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <div class="card-panel grey darken-4 white-text">
        Name: {{ complaint.full_name }}<br>
    {% if complaint.taken %}
        Official name:{{ complaint.complaint_taken_by.username }}
    {% else %}
        Official name: Not assigned
    {% endif %}
    </div>


</body>
</html>
{#{% endblock %}#}