<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'js/loader.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/complaint_form.css' %}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="row">
    <div class="col s12 m3">
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col s12 m6">
            <div class="center white-text">Feedback</div>
            <div class="input-field">
                <label for="input_text">Feedback Text</label>
                {{ form.feedback_user }}
            </div>
            {{ form.rating }}
        </div>
        <button type="submit" id="submit" class="btn">Submit</button>
    </form>
</div>
</body>
</html>