{% extends 'types_layout.html' %}
{% load static %}
<!--Navbar end-->
<!--page layout start-->
{% block title %}
    Exclusion
{% endblock %}
{% block pagecontent %}
    <div class="row">

        <div class="col s12 m4 l4"> <!-- Note that "m4 l4" was added -->
            <!-- Grey navigation panel

                  This content will be:
              4-columns-wide on large screens,
              4-columns-wide on medium screens,
              12-columns-wide on small screens  -->

            <div>
                <!--Canvas of radar-->
                <canvas id="myChart" height=380px></canvas>
                <script>
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'horizontalBar',
                        data: {
                            labels: ["Madhya Pradesh", "Uttar Pradesh", "Chhattisgarh", "Himachal Pradesh", "Andhra Pradesh", "Arunachal Pradesh", "Uttrakhand", "Mizoram", "Tripura", "Assam", "Telangana", "Hyderabad", "Tamil Nadu", "Karnataka", "Kerala", "Delhi", "Maharashtra", "Goa", "Jammu and Kashmir", "Haryana", "Rajasthan", "Gujarat", "West Bengal", "Jharkhand", "Sikkim", "Andaman and Nicobar Islands"],
                            datasets: [{
                                label: 'Number of registered complaints (per state)',
                                data: [120, 121, 145, 124, 156, 167, 349, 345, 456, 432, 434, 545, 675, 786, 567, 456, 346, 234, 311, 678, 546, 254, 56, 678, 698, 342],
                                borderWidth: 1,
                                backgroundColor: 'rgba(00,00,00,0.5)',
                                borderColor: 'black'
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
                <!--End radar-->
            </div>
        </div>


        <div class="col s12 m8 l8"> <!-- Note that "m8 l8" was added -->
            <!-- Teal page content

              This content will be:
              4-columns-wide on large screens,
              8-columns-wide on medium screens,
              12-columns-wide on small screens  -->

            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui
                    officia deserunt mollit anim id est laborum.
                </p><br>
                <!--Canvas of radar-->
                <canvas id="myCharts" height=100%></canvas>
                <script>
                    var ctx = document.getElementById("myCharts").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: ["2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017"],
                            datasets: [{
                                label: 'Number of registered complaints(per year)',
                                data: [120, 121, 145, 124, 156, 167, 349, 345, 456, 432, 434],
                                borderWidth: 1,
                                backgroundColor: 'rgba(00,00,00,0)',
                                borderColor: 'red'
                            }, {
                                label: 'Number of solved complaints(per year)',
                                data: [60, 80, 93, 67, 78, 83, 130, 124, 224, 212, 224],
                                borderWidth: 1,
                                backgroundColor: 'rgba(00,00,00,0)',
                                borderColor: 'green'
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>

            </div>

        </div>


    </div>
    <hr>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'img/exclusionimage.png' %}"></div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header"></h2>
            <p class="grey-text text-darken-3 lighten-3">
            <h1>Exclusion</h1>
            <h5>Exclusion is the deliberate act of leaving you out, and can happen in many ways, some of which
                are:</h5></br>
            <h5>1. You might be excluded from parties or activities.</h5></br>
            <h5>2. Your friends are having online conversations and tagging other friends but not you.</h5></br>
            <h5>3. You are not using social networking sites or do not have a smartphone and are deliberately excluded
                from conversations by others because of this.</h5>
            </p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'img/exclusionimg.png' %}"></div>
    </div>
{% endblock %}
{% block footercontent %}

    <a class="btn waves-effect grey black-text" href="{% url 'type_outing' %}">
        Next</a>
{% endblock %}
